.card {
  margin: 5px;
  padding: 10px;

  border: 1px solid;
  border-radius: 10px;
  border-color: rgba(0,0,0,0.2);

  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}

.align-left {
  text-align: left;
}
